/* variables */

$color-1: #faea2c;
$color-2: white;
$color-3: black;

$font-1: "Dancing Script", cursive;
$font-text: "Libre Baskerville", serif;

/* global */
body {
  background: blue;
}
/* nav */

.navbar-brand {
  a {
    font-style: italic;
    color: green;
    font: $font-1;
  }
}

.navbar-toggler {
  border-color: black;
  color: black;
}

/* splash */

.splash-inner {
  height: 100vh;
  background-size: cover;
  width: 100%;
}
